body{
    	background: linear-gradient(to top, black, #9F9);

}
#osss{
	background: linear-gradient(to top, black, #9F9);
	text-align: center;
}

/* Contenedor del acordeón */
[data-accordion] {
  border: 1px solid #888;
  margin: 2px;
  cursor: pointer;
}
[data-control] {
  background: white;
  padding: 5px;  
}

/* Decoración */
.accordion [data-control]::before {
  content: '⊞ ';
  color: #888;
}
.accordion.open [data-control]::before {
  content: '⊟ ';
  color: #444;
}
